h1 {
    text-align: center;
}

#stock-info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: none;
  }
  
  #stock-info th, #stock-info td {
    padding: 12px;
    border: 1px solid black;
    text-align: center;
  }
  
  #stock-info th {
    background-color: darkolivegreen;
    color: white;
  }

  #stock-info tbody tr:nth-child(even) {
    background-color: lightsteelblue;
  }
  
  #stock-info tbody tr:hover {
    background-color: lightgoldenrodyellow;
  }
  